<!-- <footer>
  <span class="left">
    Online Books Store</span>
  <a href="#">
    <i class="fab fa-js" aria-hidden="true"></i>
  </a>
  <a href="#">
    <i class="fab fa-angular" aria-hidden="true"></i>
  </a>
  <a href="#">
    <i class="fab fa-node" aria-hidden="true"></i>
  </a>
  <a href="#">
    <i class="fab fa-database" aria-hidden="true"></i>
  </a>
  <a href="#">
    <i class="fab fa-github" aria-hidden="true"></i>
  </a>
  
  <span class="right"> &copy; 2023| all rights reserved</span>
</footer> -->